.arrow{
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    cursor: pointer;
}

.arrowLeft{
    transform: rotate(90deg);
}

.arrowRight{
    transform: rotate(-90deg);
}

.arrow span{
    display: block;
    width: 2rem;
    height: 2rem;
    border-bottom: 5px solid var(--inputs-color);
    border-right: 5px solid var(--inputs-color);
    transform: rotate(45deg);
    margin: -10px;
    animation: none;
}

.arrow:hover span{
    animation: animate 2s infinite;
}

.arrow span:nth-child(2){
    animation-delay: -0.2s;
}
.arrow span:nth-child(3){
    animation-delay: -0.4s;
}

.divContainer{
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    overflow: hidden;
}

.buttonContainer, .compContainer{
    display: grid;
    align-items: center;
    justify-content: center;
    margin: 0;
    width: 500px;
    max-width: 400px;
    min-width: 330px;
    height: 100%;
}

.compContainer{
    z-index: 1;
}

@keyframes animate {
    0% {
        opacity: 0;
        transform: rotate(45deg) translate(-20px, -20px);
    }
    50% {
        opacity: 1;
    }
    100% {
        opacity: 0;
        transform: rotate(45deg) translate(20px, 20px);
    }
}
